.App {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  gap: 10px;
  align-items: end;
  margin-bottom: 20px;
}

.form__label {
  display: block;
}

.list {
  margin: 0;
  padding: 0;
}

.list__item {
  display: flex;
  gap: 10px;
  margin: 0 0 10px;
}

.form-serach {
  margin-bottom: 20px;
}
